name: Python application

on:
  push:
    paths:
    - 'python/*'
  pull_request:
    branches:
    - master
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./python/requirements.txt
    - name: Build & Push Image
      run: |
        cd ./python
        echo "${{ secrets.DOCKERPW }}" | docker login -u "${{ secrets.DOCKERSVCACC }}" --password-stdin
        docker image build -t ${{ secrets.DOCKERSVCACC }}/gitops:hellov1.2 .
        docker push ${{ secrets.DOCKERSVCACC }}/gitops:hellov1.2
